

<form action="edit_submit" method="get" accept-charset="utf-8">
  <textarea spellcheck="true" wrap="soft" name="" style="width: 100vw; height: 100vh;"><%= @paste.first.content %></textarea>
</form>
<%= link_to "new", new_paste_path %>